<md-card class="recipe-title">
      <h3 class="recipes-list-header">Menu for {{ date | date:fullDate }}</h3>
</md-card>

<md-card *ngFor="let menu of menus">
  <md-card-header>
    <md-card-title class="recipe-detail-title">
      {{ menu.meal }}
    </md-card-title>
    <div class="recipe-actions">
      <i class="material-icons action" (click)="openDeleteConfirm(menu.id)">&#xE872;</i>
    </div>
  </md-card-header>
  <md-card-content class="recipe-description">
    <md-card class="file-detail-header" (click)="showRecipe(menu.recipe.id)">
        <span>{{ menu.recipe.name }}</span>
        <i class="material-icons file-detail-icon" *ngIf="!getShowDetailsById(menu.recipe.id)">keyboard_arrow_down</i>
        <i class="material-icons file-detail-icon" *ngIf="getShowDetailsById(menu.recipe.id)">keyboard_arrow_up</i>
    </md-card>
    <md-card *ngIf="getShowDetailsById(menu.recipe.id)">
      <md-card>
        <md-card-header>
          <div md-card-avatar class="detail-header-image"></div>
          <md-card-title class="recipe-detail-title">{{menu.recipe.name}}</md-card-title>
          <md-card-subtitle>{{menu.recipe.description}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <md-input-container>
            <input id="name" md-input value="{{menu.recipe.name}}" disabled>
            <label class="md-input-placeholder md-float" for="name">Name</label>
          </md-input-container>
          <md-card class="content-output">
            {{menu.recipe.directions}}
          </md-card>
          <md-card>
            <img class="recipe-detail-image" *ngIf="menu.recipe.imageUrl" md-card-image src="{{menu.recipe.imageUrl}}">
            <img class="recipe-detail-image" *ngIf="!menu.recipe.imageUrl" md-card-image src="../../assets/images/fork-knife-plate.jpg">
          </md-card>
        </md-card-content>
      </md-card>
    </md-card>

  </md-card-content>
</md-card>
