<md-card>
  <md-card-header>
    <div md-card-avatar class="detail-header-image"></div>
    <md-card-title class="recipe-detail-title">{{recipe?.name}}</md-card-title>
    <md-card-subtitle>{{recipe?.description}}</md-card-subtitle>
    <div class="recipe-actions">
      <i class="material-icons action" (click)="openEditForm(recipe)">&#xE254;</i>
      <i class="material-icons action" (click)="openDeleteConfirm(recipe.id)">&#xE872;</i>
    </div>
  </md-card-header>
  <md-card-content>
    <md-input-container>
      <input id="name" md-input value="{{recipe?.name}}" disabled>
      <label class="md-input-placeholder md-float" for="name">Name</label>
    </md-input-container>
    <md-card class="content-output">
      <md-card-title>Ingredients</md-card-title>
      <p *ngFor="let i of recipe?.ingredients">{{i}}</p>
    </md-card>
    <md-card class="content-output">
      <md-card-title>Directions</md-card-title>
      {{recipe?.directions}}
    </md-card>
    <md-card>
      <img class="recipe-detail-image" *ngIf="recipe?.imageUrl" md-card-image src="{{recipe?.imageUrl}}">
      <img class="recipe-detail-image" *ngIf="!recipe?.imageUrl" md-card-image src="../../assets/images/fork-knife-plate.jpg">
    </md-card>
  </md-card-content>
</md-card>
