<h2 class="mdl-dialog__title" md-dialog-title>Schedule Recipe</h2>
<md-dialog-content>
    <form #f="ngForm" action="#">
      <md-select placeholder="Recipe">
        <md-option *ngFor="let recipe of recipes" [value]="menu.title" required>{{ recipe.name }}</md-option>
      </md-select>
      <!-- <md-input-container>
          <input md-input value="" placeholder="Recipe" #title [(ngModel)]="menu.title" name="title" required>
      </md-input-container> -->
      <md-input-container>
        <input type="date" md-input value="" placeholder="Date" #start [(ngModel)]="menu.start" name="start" required>
      </md-input-container>
    </form>
</md-dialog-content>

<md-dialog-actions class="card-actions">
  <button md-button class="btn-colored" type="button" md-dialog-close>CANCEL</button>
  <button md-button class="btn-colored" type="submit" (click)="submit(f.value)">SCHEDULE MENU</button>
</md-dialog-actions>
