<h2 class="mdl-dialog__title" md-dialog-title>Schedule Recipe</h2>
<md-dialog-content>
    <form #f="ngForm" action="#">
      <md-select class="fullselect" placeholder="Meal" [(ngModel)]="menu.meal"  name="meal">
        <md-option *ngFor="let meal of meals" [value]="meal" ngDefaultControl required>{{ meal }}</md-option>
      </md-select>
      <md-select class="fullselect" placeholder="Recipe" [(ngModel)]="menu.recipe"  name="recipe">
        <md-option *ngFor="let recipe of recipes" [value]="recipe" ngDefaultControl required>{{ recipe.name }}</md-option>
      </md-select>
      <md-input-container class="datepicker">
        <input type="date" md-input value="today" placeholder="Date" #start [(ngModel)]="menu.start" name="start" required>
      </md-input-container>
    </form>
</md-dialog-content>

<md-dialog-actions class="card-actions">
  <button md-button class="btn-colored" type="button" md-dialog-close>CANCEL</button>
  <button md-button class="btn-colored" type="submit" (click)="submit(f.value)">SCHEDULE MENU</button>
</md-dialog-actions>
