@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~http://fonts.googleapis.com/css?family=Roboto:300,400,500,700';
@import "../../../node_modules/fullcalendar/dist/fullcalendar.min.css";
@import "./calendar_override.css";
@import './theme.css';

/* Style Overrides */
home {
  padding: 40px 40px 40px;
}

recipes {
  width: 100%;
  padding: 25px;
  margin: auto;
}

nav-chips {
  padding: 15px;
}

recipe-detail {
  width: 100%;
  margin: auto;
  padding: 20px;
}

menu {
  padding-right: 45px;
}

.welcome-card {
  width: 75%;
  margin: auto;
}

.welcome-title {
  font-size: 24px;
  font-weight: 500;
  padding-top: 15px;
}

[md-card-image]:first-child.akasim-title-img {
  margin: auto;
}

.card-actions {
    font-size: 16px;
    line-height: normal;
    width: 100%;
    background-color: transparent;
    padding: 8px;
    box-sizing: border-box;
}

.recipe-title {
  margin-bottom: 40px;
  box-shadow: 0 0 0 0;
}

.recipe-card {
  height: 100%;
  width: 100%;
}

.date-card {
  height: 100%;
  width: 100%;
}

.menu-card {
  height: 100%;
  width: 100%;
}

.recipes-list-header {
  display: inline-block;
  padding-right: 60%;
}

.new-recipe-button {
  float: right;
}

.recipe-detail-title {
  font-size: 24px;
}

.detail-header-image {
  background-image: url('../images/ashley.png');
  background-size: cover;
}
@media screen and (max-width:800px) {
  .detail-header-image {
    visibility: hidden;
  }
  md-card-header div.detail-header-image {
    width: 0px;
  }
}
@media screen and (max-width:1024px) {
  .recipe-date {
    visibility: hidden;
  }
}

.recipe-actions {
  position: absolute;
  right: 20px;
}
@media screen and (max-width:800px) {
  .recipe-actions {
    visibility: hidden;
  }
  .recipe-description {
    font-size: 12px;
  }
}

a, .recipe-detail-link {
  text-decoration: none;
  color: rgb(0,0,0);
  font-weight: 400;
  font-size: 24px;
}
@media screen and (max-width:800px) {
  a, .recipe-detail-link {
    font-size: 16px;
    font-weight: 400;
  }
}

.content-input {
  min-height: 500px;
  white-space: pre-wrap;
}

.content-output {
  min-height: 500px;
  white-space: pre-wrap;
}

a, .nav-chip-link {
  text-decoration: none;
  color: rgb(0,0,0);
  font-weight: 400;
  cursor: pointer;
  font-size: 13px;
}

.material-icons.action {
  cursor: pointer;
}

.material-icons.nav-arrow {
  font-size: 13px;
  top: 2px;
  position: relative;
}

.molly-logo {
  padding: 0 10px 0;
}

.cdk-overlay-pane {
  width: 50%;
}

.mdl-card.mdl-card-full-width {
  width: 100%;
  padding: 20px;
}


.mdl-card.mdl-card-wide {
  width: 512px;
  margin: auto;
}

md-input-container {
  width: 100%
}

a, a:visited {
    text-decoration: underline;
}

pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}

thead {
    display: table-header-group;
}

tr, img {
    page-break-inside: avoid;
}

img {
    max-width: 100%!important;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

p, h2, h3 {
    orphans: 3;
    widows: 3;
}

h2, h3 {
    page-break-after: avoid;
}

a, .mdl-accordion, .mdl-button, .mdl-card, .mdl-checkbox, .mdl-dropdown-menu, .mdl-icon-toggle, .mdl-item, .mdl-radio, .mdl-slider, .mdl-switch, .mdl-tabs__tab {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html {
    width: 100%;
    height: 100%;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    width: 100%;
    min-height: 100%
}

main {
    display: block;
}

*[hidden] {
    display: none!important;
}

html, body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -.02em;
    opacity: .54;
    font-size: .6em;
}

h1 {
    font-size: 56px;
    line-height: 1.35;
    letter-spacing: -.02em;
    margin: 24px 0;
}

h1, h2 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 45px;
    line-height: 48px;
}

h2, h3 {
    margin: 24px 0;
}

h3 {
    font-size: 34px;
    line-height: 40px;
}

h3, h4 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
}

h4 {
    font-size: 24px;
    line-height: 32px;
    -moz-osx-font-smoothing: grayscale;
    margin: 24px 0 16px;
}

h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: .02em;
}

h5, h6 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 24px 0 16px;
}

h6 {
    font-size: 16px;
    letter-spacing: .04em;
}

h6, p {
    font-weight: 400;
    line-height: 24px;
}

p {
    font-size: 14px;
    letter-spacing: 0;
    margin: 0 0 16px;
}

a {
    color: rgb(255, 64, 129);
    font-weight: 500;
}

.blockquote {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.35;
    letter-spacing: .08em;
}
.blockquote:before {
    position: absolute;
    left: -.5em;
    content: '“'}
.blockquote:after {
    content: '”';
    margin-left: -.05em;
}

.mdl-layout__container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mdl-layout {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.mdl-layout__title, .mdl-layout-title {
    display: block;
    position: relative;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
}

.mdl-layout__header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    box-sizing: border-box;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    min-height: 64px;
    max-height: 1000px;
    z-index: 3;
    background-color: rgb(63,81,181);
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: max-height, box-shadow;
}
@media screen and (max-width:1024px) {
    .mdl-layout__header {
    min-height: 56px;
  }
}

.mdl-layout__header-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 64px;
    margin: 0;
    padding: 0 40px 0 20px;
}

.mdl-layout--no-drawer-button .mdl-layout__header-row {
    padding-left: 40px;
}
@media screen and (min-width:1025px) {
    .mdl-layout--no-desktop-drawer-button .mdl-layout__header-row {
    padding-left: 40px;
}
}@media screen and (max-width:1024px) {
    .mdl-layout__header-row {
    height: 56px;
}
.mdl-layout--no-drawer-button .mdl-layout__header-row {
    padding-left: 16px;
}
}.mdl-layout__header-row>* {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.mdl-layout__header--scroll .mdl-layout__header-row {
    width: 100%}
.mdl-layout__header-row .mdl-navigation {
    margin: 0;
    padding: 0;
    height: 64px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
@media screen and (max-width:1024px) {
    .mdl-layout__header-row .mdl-navigation {
    height: 56px;
}
}.mdl-layout__header-row .mdl-navigation__link {
    display: block;
    color: rgb(255, 255, 255);
    line-height: 64px;
    padding: 0 24px;
    text-decoration: none;
}
@media screen and (max-width:1024px) {
    .mdl-layout__header-row .mdl-navigation__link {
    line-height: 56px;
    padding: 0 16px;
}
}

.mdl-layout__title, .mdl-layout-title {
    display: block;
    position: relative;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
}

.home-link {
  color: #fff;
  text-decoration: none;
}

.mdl-layout-spacer {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.mdl-navigation__link {
    color: #424242;
    text-decoration: none;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    opacity: .87;
}

.mdl-layout__header-row .mdl-navigation__link {
    display: block;
    color: rgb(255, 255, 255);
    line-height: 64px;
    padding: 0 24px;
}
@media screen and (max-width:1024px) {
    .mdl-layout__header-row .mdl-navigation__link {
    line-height: 56px;
    padding: 0 16px;
}
}

.mdl-layout__drawer-button {
    display: block;
    position: absolute;
    height: 48px;
    width: 48px;
    border: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    font-size: 26px;
    line-height: 56px;
    font-family: Helvetica,Arial,sans-serif;
    margin: 8px 12px;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 4;
}

.mdl-layout__header .mdl-layout__drawer-button {
    position: absolute;
    color: #fff;
    background-color: inherit;
}
@media screen and (min-width: 1025px) {
  .mdl-layout__drawer-button {
      line-height: 54px;
  }
}

.mdl-layout__drawer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 240px;
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;
    background: #fafafa;
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    color: #424242;
    overflow: visible;
    overflow-y: auto;
    z-index: 5;
}
.mdl-layout__drawer.is-visible {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.mdl-layout__drawer.is-visible~.mdl-layout__content.mdl-layout__content {
    overflow: hidden;
}
.mdl-layout__drawer>* {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.mdl-layout__drawer>.mdl-layout__title, .mdl-layout__drawer>.mdl-layout-title {
    line-height: 64px;
    padding-left: 40px;
}
@media screen and (max-width:1024px) {
    .mdl-layout__drawer>.mdl-layout__title, .mdl-layout__drawer>.mdl-layout-title {
    line-height: 56px;
    padding-left: 16px;
}
}.mdl-layout__drawer .mdl-navigation {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding-top: 16px;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 16px 40px;
    margin: 0;
    color: #757575;
}
@media screen and (max-width:1024px) {
    .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    padding: 16px;
}
}.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: #e0e0e0;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link--current {
    background-color: #e0e0e0;
    color: #000;
}
@media screen and (min-width:1025px) {
    .mdl-layout--fixed-drawer>.mdl-layout__drawer {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
}

.mdl-layout__obfuscator {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    visibility: hidden;
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}
.mdl-layout__obfuscator.is-visible {
    background-color: rgba(0, 0, 0, .5);
    visibility: visible;
}
@supports (pointer-events:auto) {
    .mdl-layout__obfuscator {
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition-property: opacity;
    visibility: visible;
    pointer-events: none;
}
.mdl-layout__obfuscator.is-visible {
    pointer-events: auto;
    opacity: 1;
}
}

.mdl-layout__content {
    -ms-flex: 0 1 auto;
    position: relative;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
}

.mdl-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.mdl-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}
.mdl-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
.mdl-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}
.mdl-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}
.mdl-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}
.mdl-shadow--24dp {
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, .14), 0 11px 15px -7px rgba(0, 0, 0, .12), 0 24px 38px 3px rgba(0, 0, 0, .2);
}

.mdl-grid {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 auto;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.mdl-grid .mdl-grid--no-spacing {
    padding: 0;
}
