<md-card class="welcome-card">
  <img md-card-image class="akasim-title-img" src="../../assets/images/garlic-herb-potatoes.jpg">
  <md-card-header>
    <md-card-title class="welcome-title">Welcome to Ashley's Diner!</md-card-title>
  </md-card-header>
  <md-card-content>
    <p class="blockquote">Menu is on a weekly basis, now accepting requests for future meals.</p>
  </md-card-content>
  <md-card-actions class="mdl-dialog__actions">
   <button md-button routerLink="/menu">VIEW WEEKLY MENU</button>
 </md-card-actions>
</md-card>
